#katamino-table {
  border-collapse: collapse;
  margin: 10px;
}

#katamino-table td {
  border: solid 1px #cccccc;
  width:30px;
  height:30px;
}

#katamino-table td.piece0 {
    background-color:#7fbfff;
}

#katamino-table td.piece1 {
  background-color:#ffbf7f;
}

#katamino-table td.piece2 {
  background-color:#cc9966;
}

#katamino-table td.piece3 {
  background-color:#bf7fff;
}

#katamino-table td.piece4 {
  background-color:#7f7fff;
}

#katamino-table td.piece5 {
    background-color:#ff7fff;
}

#katamino-table td.piece6 {
  background-color:#ffff7f;
}

#katamino-table td.piece7 {
  background-color:#7fffff;
}

#katamino-table td.piece8 {
  background-color:#cccccc;
}

#katamino-table td.piece9 {
  background-color:#7fff7f;
}

#katamino-table td.piece10 {
  background-color:#bfff7f;
}

#katamino-table td.piece11 {
  background-color:#ff7f7f;
}
